html,
body {
    width: 100%;
    height: 100%;
}

.contain {
    background-image: linear-gradient(to bottom, #F6F3EE, #FFECEC, #EDC9D1, #E4AABA);
    /* background-image: linear-gradient(to right bottom, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #9400d3); */
    min-height: 100%;
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    padding-top: 15px;
}
.banner img{
    width: 40%;
}

.banner p {
    font-size: 25px;
    font-weight: 900;
    color: #CC8797;
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Noto Sans';
    font-style: normal;
}

.top-img div {
    padding: 12px 10px 12px 10px;

}

.top-img div img {
    width: 100%;
    aspect-ratio: 1/1;
}

.top-img .hint {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Noto Sans';
    font-style: normal;
    color: #71bdbd;
}

.top-img p {
    font-weight: 900;
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Noto Sans';
    font-style: normal;
    color: #71bdbd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nail-img div {
    padding: 12px 10px 12px 10px;
}

.nail-img div img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}